<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/App.css" />
    </head>
    <body>
        <div>
            <div class="w-full"><%- include('authHeader') -%></div>
            <div
                class="relative flex flex-col w-full h-full text-gray-700 bg-white shadow-md rounded-xl bg-clip-border"
            >
                <div
                    class="relative mx-4 mt-4 text-gray-700 bg-white rounded-none bg-clip-border"
                >
                    <div class="flex">
                        <div class="w-fit flex gap-4 ml-auto">
                            <div
                                class="relative h-10 w-full md:w-60 min-w-[200px]"
                            >
                                <div
                                    class="absolute grid w-5 h-5 top-2/4 right-3 -translate-y-2/4 place-items-center text-blue-gray-500"
                                >
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke-width="1.5"
                                        stroke="currentColor"
                                        aria-hidden="true"
                                        class="w-5 h-5"
                                    >
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
                                        ></path>
                                    </svg>
                                </div>
                                <input
                                    class="peer h-full w-full rounded-[7px] border border-blue-gray-200 bg-transparent px-3 py-2.5 !pr-9 font-sans text-sm font-normal text-blue-gray-700 outline outline-0 transition-all placeholder-shown:border placeholder-shown:border-blue-gray-200 placeholder-shown:border-t-blue-gray-200 focus:border-2 focus:border-gray-900 focus:border-t-transparent focus:outline-0 disabled:border-0 disabled:bg-blue-gray-50"
                                    placeholder=" "
                                />
                                <label
                                    class="before:content[' '] after:content[' '] pointer-events-none absolute left-0 -top-1.5 flex h-full w-full select-none !overflow-visible truncate text-[11px] font-normal leading-tight text-gray-500 transition-all before:pointer-events-none before:mt-[6.5px] before:mr-1 before:box-border before:block before:h-1.5 before:w-2.5 before:rounded-tl-md before:border-t before:border-l before:border-blue-gray-200 before:transition-all after:pointer-events-none after:mt-[6.5px] after:ml-1 after:box-border after:block after:h-1.5 after:w-2.5 after:flex-grow after:rounded-tr-md after:border-t after:border-r after:border-blue-gray-200 after:transition-all peer-placeholder-shown:text-sm peer-placeholder-shown:leading-[3.75] peer-placeholder-shown:text-blue-gray-500 peer-placeholder-shown:before:border-transparent peer-placeholder-shown:after:border-transparent peer-focus:text-[11px] peer-focus:leading-tight peer-focus:text-gray-900 peer-focus:before:border-t-2 peer-focus:before:border-l-2 peer-focus:before:!border-gray-900 peer-focus:after:border-t-2 peer-focus:after:border-r-2 peer-focus:after:!border-gray-900 peer-disabled:text-transparent peer-disabled:before:border-transparent peer-disabled:after:border-transparent peer-disabled:peer-placeholder-shown:text-blue-gray-500"
                                >
                                    Search
                                </label>
                            </div>
                            <div class="flex gap-2 shrink-0">
                                <div class="relative h-full flex">
                                    <button
                                        class="h-full select-none rounded-lg border border-gray-900 py-2 px-4 text-center align-middle font-sans text-xs font-bold uppercase text-gray-900 transition-all hover:opacity-75 focus:ring focus:ring-gray-300 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                                        type="button"
                                        id="filter_btn"
                                    >
                                        Filter
                                    </button>
                                    <ul
                                        class="z-30 hidden absolute mt-1 top-full right-0 flex-col gap-2 bg-white py-4 px-2 rounded-sm min-w-32 shadow-md"
                                        id="filter_list"
                                    >
                                        <li
                                            class="transition-all hover:bg-gray-200 rounded-sm p-2 md:cursor-pointer"
                                        >
                                            <a href="#" class="h-full w-full"
                                                >Năm học</a
                                            >
                                        </li>
                                        <li
                                            class="transition-all hover:bg-gray-200 rounded-sm p-2 md:cursor-pointer"
                                        >
                                            <a href="#" class="h-full w-full"
                                                >Trạng thái</a
                                            >
                                        </li>
                                    </ul>
                                </div>
                                <a class="h-full flex" href="/create-class">
                                    <button
                                        class="flex select-none items-center gap-3 rounded-lg bg-primary-500 hover:bg-primary-700 py-2 px-4 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-gray-900/10 transition-all hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                                        type="button"
                                    >
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 24 24"
                                            fill="currentColor"
                                            aria-hidden="true"
                                            stroke-width="2"
                                            class="w-4 h-4"
                                        >
                                            <path
                                                fill-rule="evenodd"
                                                d="M12 3.75a.75.75 0 0 1 .75.75v6.75h6.75a.75.75 0 0 1 0 1.5h-6.75v6.75a.75.75 0 0 1-1.5 0v-6.75H4.5a.75.75 0 0 1 0-1.5h6.75V4.5a.75.75 0 0 1 .75-.75Z"
                                                clip-rule="evenodd"
                                            />
                                        </svg>
                                        Add class
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-6">
                    <table class="w-full mt-4 text-left table-auto min-w-max">
                        <thead>
                            <tr>
                                <th
                                    class="p-4 border-y border-blue-gray-100 bg-blue-gray-50/50"
                                >
                                    <p
                                        class="block font-sans text-sm antialiased font-normal leading-none text-blue-gray-900 opacity-70"
                                    >
                                        Tên
                                    </p>
                                </th>
                                <th
                                    class="p-4 border-y border-blue-gray-100 bg-blue-gray-50/50"
                                >
                                    <p
                                        class="block font-sans text-sm antialiased font-normal leading-none text-blue-gray-900 opacity-70"
                                    >
                                        Năm học
                                    </p>
                                </th>
                                <th
                                    class="p-4 border-y border-blue-gray-100 bg-blue-gray-50/50"
                                >
                                    <p
                                        class="block font-sans text-sm antialiased font-normal leading-none text-blue-gray-900 opacity-70"
                                    >
                                        Trạng thái
                                    </p>
                                </th>
                                <th
                                    class="p-4 border-y border-blue-gray-100 bg-blue-gray-50/50"
                                >
                                    <p
                                        class="block font-sans text-sm antialiased font-normal leading-none text-blue-gray-900 opacity-70"
                                    >
                                        Ngày bắt đầu
                                    </p>
                                </th>
                                <th
                                    class="p-4 border-y border-blue-gray-100 bg-blue-gray-50/50 sm:table-cell hidden"
                                >
                                    <p
                                        class="block font-sans text-sm antialiased font-normal leading-none text-blue-gray-900 opacity-70"
                                    >
                                        Học phí
                                    </p>
                                </th>
                                <th
                                    class="p-4 border-y border-blue-gray-100 bg-blue-gray-50/50"
                                >
                                    <p
                                        class="block font-sans text-sm antialiased font-normal leading-none text-blue-gray-900 opacity-70"
                                    ></p>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <% _class.map((item) => { %>
                            <tr>
                                <td class="p-4 border-b border-blue-gray-50">
                                    <div class="flex items-center gap-3">
                                        <div class="flex flex-col">
                                            <h3
                                                class="block font-sans text-lg antialiased font-bold leading-normal text-blue-gray-900"
                                            >
                                                <%= item.name %>
                                            </h3>
                                        </div>
                                    </div>
                                </td>
                                <td class="p-4 border-b border-blue-gray-50">
                                    <div class="flex flex-col">
                                        <p
                                            class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900"
                                        >
                                            <%= item.year %>
                                        </p>
                                    </div>
                                </td>
                                <td class="p-4 border-b border-blue-gray-50">
                                    <div class="w-max">
                                        <div
                                            class="relative grid items-center px-2 py-1 font-sans text-xs font-bold text-green-900 uppercase rounded-md select-none whitespace-nowrap bg-green-500/20"
                                        >
                                            <span class=""
                                                ><%= item.status ? "Đang mở" :
                                                "Đã đóng" %></span
                                            >
                                        </div>
                                    </div>
                                </td>
                                <td class="p-4 border-b border-blue-gray-50">
                                    <p
                                        class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900"
                                    >
                                        <span>
                                            <%= item.startAt.getDate() %>
                                        </span>
                                        -
                                        <span>
                                            <%= item.startAt.getMonth() + 1%>
                                        </span>
                                        -
                                        <span>
                                            <%= item.startAt.getFullYear() %>
                                        </span>
                                    </p>
                                </td>
                                <td class="p-4 border-b border-blue-gray-50 sm:table-cell hidden ">
                                    <p
                                        class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900"
                                    >
                                        <%= item.price %>
                                    </p>
                                </td>
                                <td class="p-4 border-b border-blue-gray-50">
                                    <a
                                        href="/class-infomation/<%= item.id %>"
                                        class="block font-sans text-sm antialiased font-bold leading-normal text-blue-gray-900"
                                    >
                                        View detail
                                    </a>
                                </td>
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
                <div
                    class="<%= totalPage <= 1 ? 'hidden' : 'flex' %> items-center justify-between p-4 border-t border-blue-gray-50"
                >
                    <p
                        class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900"
                    >
                        Page <%= currentPage %> of <%= totalPage %>
                    </p>
                    <div class="flex gap-2">
                        <button
                            class="select-none rounded-lg border border-gray-900 py-2 px-4 text-center align-middle font-sans text-xs font-bold uppercase text-gray-900 transition-all hover:opacity-75 focus:ring focus:ring-gray-300 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                            type="button"
                            id="prev_page"
                            onclick="handleControlPage('back', '<%= currentPage %>', '/class-management')"
                            <%- (currentPage <= 1) ? "disabled" : "" %>
                        >
                            Previous
                        </button>
                        <button
                            class="select-none rounded-lg border border-gray-900 py-2 px-4 text-center align-middle font-sans text-xs font-bold uppercase text-gray-900 transition-all hover:opacity-75 focus:ring focus:ring-gray-300 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                            type="button"
                            id="next_page"
                            onclick="handleControlPage('next', '<%= currentPage %>', '/class-management')"
                            <%- currentPage >= totalPage ? 'disabled': '' %> 
                        >
                            Next
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <script src="/script.js"></script>
        <script>
            const filterBtn = document.getElementById("filter_btn");
            filterBtn.onclick = () => {
                handleOpen(
                    "filter_list",
                    "animate-facein",
                    "animate-hiddenout"
                );
            };
        </script>
    </body>
</html>
