<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Thông tin cá nhân - Trung tâm tiếng anh</title>
        <link rel="stylesheet" href="App.css" />
    </head>
    <body>
        <div class="app">
            <%- include('parent-header') %>
            <div class=" mt-28 mb-12">
                <div class="p-4 b rounded-lg dark:border-gray-700">
                    <div class="flex gap-8 justify-between md:flex-row flex-col space-y-4 md:space-y-0 pb-4 bg-white dark:bg-gray-900">
                        <div class="w-full relative md:mx-0 mx-auto  max-w-md h-fit md:p-8 p-4 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                            <div class="flex flex-col items-center ">
                                <img class="w-32 h-32 mb-3 rounded-full shadow-lg" src="/images/default-avatar.webp" alt="Bonnie image" />
                                <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white"><%= auth.firstname + " " + auth.lastname %></h5>
                                <span class="text-sm text-gray-500 dark:text-gray-400"><%= auth.email %></span>
                            </div>
                            <div class="inline-flex items-center justify-center w-full">
                                <hr class="w-full h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
                                <span class="absolute px-3 font-medium text-gray-900 -translate-x-1/2 bg-white left-1/2 dark:text-white dark:bg-gray-900">Thông tin học sinh</span>
                            </div>
                            <div class="flex flex-col items-start ">
                                <h6 class="mb-1 text-lg font-semibold text-gray-900 dark:text-white">Số điện thoại: <span class="text-gray-700 font-normal"><%= auth.phone %></span></h6>
                                <h6 class="mb-1 text-lg font-semibold text-gray-900 dark:text-white">Ngày sinh: <span class="text-gray-700 font-normal"><%= auth.birthday %></span></h6>
                                <h6 class="mb-1 text-lg font-semibold text-gray-900 dark:text-white">Địa chỉ: <span class="text-gray-700 font-normal"><%= auth.address %></span></h6>
                                <h6 class="mb-1 text-lg font-semibold text-gray-900 dark:text-white">
                                    Giới tính: <span class="text-gray-700 font-normal"><%= auth.gender === null ? 'Không xác định' : (auth.gender ? 'Nam' : 'Nữ') %></span>
                                </h6>
                  
                            </div>


                        </div>
                        <div class="w-full px-8 relative">
                            <div class="inline-flex items-center justify-center w-full">
                                <hr class="w-full h-px  bg-gray-200 border-0 dark:bg-gray-700">
                                <span class="absolute px-3 font-medium text-gray-900 -translate-x-1/2 bg-white left-1/2 dark:text-white dark:bg-gray-900">Thay đổi tin học sinh</span>
                            </div>
                            <form id="form_update-student" method="post" action="/update-profile" class="w-full md:mt-0 px-6 pb-6 tb:pb-8 flex flex-col gap-6">
                                <div class="flex flex-col w-full justify-between gap-6">
                                    <div class="space-y-4 md:space-y-6 w-full">
                                        <div class="space-y-4 md:space-y-6">
                                            <div class="gap-2 justify-between hidden">
                                                <div class="w-full relative">
                                                    <label for="role" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Chức vụ <span class="text-red-500">*</span></label>
                                                    <input
                                                        type="role"
                                                        name="role"
                                                        id="role"
                                                        value="R2"
                                                        class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                        placeholder="R1" />
                                                    <span class="text-red-500 text-sm error absolute top-full"></span>
                                                </div>
                                                <div class="w-full relative">
                                                    <label for="id" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Chức vụ <span class="text-red-500">*</span></label>
                                                    <input
                                                        type="id"
                                                        name="id"
                                                        id="id"
                                                        value="<%= auth.id %>"
                                                        class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                        placeholder="R1" />
                                                    <span class="text-red-500 text-sm error absolute top-full"></span>
                                                </div>
                                            </div>
                                            <div class="flex gap-2 justify-between">
                                                <div class="w-full relative">
                                                    <label for="firstname" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Họ <span class="text-red-500">*</span></label>
                                                    <input
                                                        type="text"
                                                        name="firstname"
                                                        id="firstname"
                                                        value="<%= auth.firstname %>"
                                                        class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                        placeholder="Nguyễn Văn" />
                                                    <span class="text-red-500 text-sm error absolute top-full"></span>
                                                </div>
                                                <div class="w-full relative">
                                                    <label for="lastname" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tên <span class="text-red-500">*</span></label>
                                                    <input
                                                        id="lastname"
                                                        name="lastname"
                                                        value="<%= auth.lastname %>"
                                                        type="text"
                                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                        placeholder="A" />
                                                    <span class="text-red-500 text-sm error absolute top-full"></span>
                                                </div>
                                            </div>
                                            <div class="flex gap-2 justify-between">
                                                <div class="w-full relative">
                                                    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email <span class="text-red-500">*</span></label>
                                                    <input
                                                        type="email"
                                                        name="email"
                                                        value="<%= auth.email %>"
                                                        id="email"
                                                        class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                        placeholder="abc@example.xyz" />
                                                    <span class="text-red-500 text-sm error absolute top-full"></span>
                                                </div>
                                                <div class="w-full relative">
                                                    <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Số điện thoại <span class="text-red-500">*</span></label>
                                                    <input
                                                        type="text"
                                                        name="phone"
                                                        value="<%= auth.phone %>"
                                                        id="phone"
                                                        class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                        placeholder="0379***8987" />
                                                    <span class="text-red-500 text-sm error absolute top-full"></span>
                                                </div>
                                            </div>
               

                                            <div class="flex gap-2 justify-between">
                                                <div class="w-full">
                                                    <label for="birthday" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ngày sinh</label>
                                                    <input
                                                        type="date"
                                                        name="birthday"
                                                        value="<%= auth.birthday %>"
                                                        id="birthday"
                                                        class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-[9px] dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
                                                </div>
                                                <div class="w-full">
                                                    <label for="gender" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Giới tính</label>
                                                    <select
                                                        type="text"
                                                        name="gender"
                                                        id="gender"
                                                        class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                        placeholder="100000000">
                                                        <option value="">--Chọn giới tính--</option>
                                                        <option value="1" <%= auth.gender == 1 ? 'selected' : '' %>>Nam</option>
                                                        <option value="0" <%= auth.gender == 0 ? 'selected' : '' %>>Nữ</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="flex gap-2 justify-between">
                                                <div class="w-full">
                                                    <label for="address" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Địa chỉ</label>
                                                    <input
                                                        type="text"
                                                        name="address"
                                                        id="address"
                                                        value="<%= auth.address %>"
                                                        class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                        placeholder="phường/xã, quận/huyện, tỉnh/thành phố" />
                                                </div>
                 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button
                                    type="submit"
                                    class="w-full text-white bg-primary-500 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                                    Xác nhận
                                </button>
                            </form>
     

                        </div>
                    </div>
                </div>
            </div>
            <%- include('footer')%>
        </div>
        <%- include('alert') %>
        <script src="/script.js"></script>
        <script src="/script/validator.js"></script>
        <script>
            const validate = new Validator();
            validate.init({
                form: '#form_update-student',
                rules: [
                    validate.isRequired('#firstname'),
                    validate.isRequired('#lastname'),
                    validate.isEmail('#email'),
                    validate.isRequired('#email'),
                    validate.isRequired('#phone'),
                ]
            })
        </script>
    </body>
</html>
